<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ceviche+One&family=Flavors&family=Truculenta&display=swap" rel="stylesheet">

       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

        
        <link rel="stylesheet" type ="text/css" href="assets/css/style.css"/>

        <title>Eat-da-Burger</title>

        <script src="assets/js/burgers.js"></script>

	</head>
 
	<body style="background-color: purple;">
        <div class="wrapper">
            <div class="card">
                <div class="card-body">

                    <div id="orders-div">

                        {{{ body }}}
                    </div>

                </div>
            </div>

        </div>
        
	</body>

</html>