li {
    padding: 10px;
    margin: 10px;
    background: white;
  }
  
  .label {
    font-weight: bold;
    color: white;
  }
  
  #create-form {
    color: white;
    padding: 5px;
    margin: 5px;

    background-color: rgb(165, 42, 159);
  }
  
  .form-group {
    margin-bottom: 5px;
  }

/* size burger image */
  .image, .image1 {
    max-width: 100%;
    height: auto;
    max-height: 200px;
}


ul.no-bullets {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}


body {

  background-color: rgb(95, 58, 182);
}

 img:hover {
  cursor: pointer;
}


.cardBorder {
  border: none;
}